@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
.logo {
  width: auto;
  height: 4rem;
}

.btn-custom-sign-in {
  background-color: orange;
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.66rem;
}

.img-home {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.navbar-ch {
  background-color: #394034;
}

.navbar-ch_dark {
  background-color: #22261f;
}

.reenie-beanie-regular {
  font-family: "Reenie Beanie", serif;
  font-weight: 200;
  font-style: normal;
}

.lato {
  font-family: "Lato", serif;
  font-weight: 200;
  font-style: normal;
}

.lato-semilight {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

.lato-medium {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: light;
}

.coffee-catalogue:hover {
  background-color: #22261f;
  color: white;
}

.coffee-catalogue {
  color: #22261f;
}

.content-lg {
  display: none; /* Hide by default */
}

@media (min-width: 768px) {
  .content-lg {
    display: block; /* Show on larger screens */
  }
}

.content-sm {
  display: none; /* Hide by default */
}

@media (max-width: 767px) {
  .content-sm {
    display: block; /* Show on larger screens */
  }
}

.content-md {
  display: none; /* Hide by default */
}

@media (min-width: 1333px) {
  .content-md {
    display: block; /* Show on larger screens */
  }
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}

.collapse-new {
  visibility: collapse;
}

a:hover {
  text-decoration: underline;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
