<section id="catalogue" class="content-sm" style="background-color: #E5DCD3">
  <div class="p-4 flex flex-col items-center justify-center">
    <h1
      class="p-hero font-bold text-6xl text-center mt-4"
      style="color: #2E2C2A"
    >COFFEE STORY</h1>
    <p
      class="text-center font-light mt-4 mb-2"
      style="font-size: 1rem; color: #2E2C2A;"
    >From warm and smooth to cold and refreshing.<br />
      There are endless drink option to find and love at Coffee House.</p>
    <div class="flex flex-wrap gap-1 justify-center px-5 mt-2">
      <button
        type="button"
        class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
      >Inspirational</button>
      <button
        type="button"
        class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
      >Heartwarming</button>
      <button
        type="button"
        class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
      >Wholesome</button>
      <button
        type="button"
        class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
      >Breakthrough</button>
      <button
        type="button"
        class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
      >Authentic</button>
    </div>

    <div id="blog-data">
    </div>
  </div>
</section>

{{! Catalogue md }}

<section id="catalogue" class="content-lg max-w-screen">
  <section
    class="px-8 py-4 rounded-lg my-5 flex w-6xl mx-auto flex-col justify-center items-center"
    style="background-color: #efe7e0"
  >
    <div class="flex flex-col items-center justify-center">
      <div class="flex justify-between items-center px-16">
        <div class="flex flex-col justify-center items-start gap-1">
          <h1
            class="p-hero font-bold text-start mt-4"
            style="font-size: 3rem; color: #2E2C2A; line-height:110%"
          >COFFEE STORY</h1>
          <p
            class="text-start font-light"
            style="font-size: 1rem; color: #2E2C2A;"
          >From warm and smooth to cold and refreshing. There are endless drink
            option to find and love at Coffee House..</p>
        </div>
        <div class="flex flex-wrap gap-1 justify-end mt-2">
          <button
            type="button"
            class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
          >Inspirational</button>
          <button
            type="button"
            class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
          >Heartwarming</button>
          <button
            type="button"
            class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
          >Wholesome</button>
          <button
            type="button"
            class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
          >Breakthrough</button>
          <button
            type="button"
            class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
          >Authentic</button>
        </div>
      </div>
      <div id="blog-data2">
      </div>
    </div>
  </section>
  {{! <div
    style="background-color: #935831; position: absolute; bottom: -120px; left: 1600px; z-index: -1; width: 25%; height: 100rem;"
  >
  </div>
  <div
    style="background-color: #935831; position: absolute; top: -120px; left: 1000px; z-index: -1; width: 45%; height: 8rem;"
    class="rounded-xl"
  >
  </div> }}
</section>