<div
  id="catalogue-data"
  class="flex justify-between min-w-screen min-h-screen content-lg relative top-20"
>
  <section
    class="bg-center bg-no-repeat bg-[url('https://fnb.coffee/wp-content/uploads/2024/12/Handpicking-Sumatra-Coffee-Beans.webp')] bg-stone-400 bg-blend-multiply mb-8 h-screen"
  >
    <div class="mx-auto max-w-screen-xl text-center py-24 lg:py-56">
      <h1
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"
      >
        We invest in the nusantara’s potential
      </h1>
      <p
        class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48"
      >
        Here at Chronicle we focus on markets where coffee, innovation, and
        capital can unlock long-term value and drive economic growth.
      </p>
      <div
        class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
      >
        <a
          href="#"
          class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
        >
          Get started
          <svg
            class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
        <a
          href="#"
          class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400"
        >
          Learn more
        </a>
      </div>
    </div>
  </section>

  <div
    class="block mx-auto z-4 relative mb-8 rounded-lg w-4/5"
    style="background-color: #f8f4f0"
  >
    <div class="flex flex-col items-center justify-center">
      <div class="flex justify-between items-center w-full">
        <div class="flex flex-col justify-between items-start gap-1 px-8 w-1/2">
          <a class="navbar-brand mt-4" href="index.html"><img
              src="assets/logo_white.png"
              alt="chronicles coffee"
              style="width: auto; height: 6rem"
            /></a>
          <p
            class="text-start font-light w-80"
            style="font-size: 0.8rem; color: #2e2c2a"
          >
            From warm and smooth to cold and refreshing.<br />
            There are endless drink option to find and love at Coffee House..
          </p>
        </div>
        <div class="flex flex-wrap gap-1 justify-end px-6 items-end w-1/2">
          <button
            type="button"
            class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
          >
            Craft Drink
          </button>
          <button
            type="button"
            class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
          >
            Espresso Based
          </button>
          <button
            type="button"
            class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
          >
            Coconut Milk
          </button>
          <button
            type="button"
            class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
          >
            Cold Coffee
          </button>
          <button
            type="button"
            class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
          >
            Latte/Cappucino
          </button>
        </div>
      </div>
      <section class="content-lg mt-5">
        <section class="content-lg">
          <div
            class="flex flex-wrap justify-between items-start mt-5 w-6xl px-12"
          >
            {{#each this}}
              <a
                href="article.html"
                class="card-link mb-8"
                style="width: 21rem; height: 26rem;"
              >
                <div
                  style="width: 21rem; height: 26rem;"
                  class="bg-stone-100 mb-3 pb-3 rounded-lg shadow-md flex flex-col justify-start transition-transform transform hover:scale-105"
                >
                  <img
                    src="https://www.arabnews.com/sites/default/files/styles/n_670_395/public/2022/08/21/3401271-820752019.jpg?itok=e8c1hwwk"
                    class="w-auto h-60 rounded-t-lg mb-4"
                    alt="{{title}}"
                    style="object-fit: cover"
                  />
                  <div
                    class="flex flex-col gap-2 justify-start items-start px-3"
                  >
                    <div class="flex justify-center items-center gap-1 mb-1">
                      <div
                        class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-2.5 py-1 me-2 hover:border-stone-600"
                      >Inspirational</div>
                      <div
                        class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-2.5 py-1 me-2 hover:border-stone-600"
                      >Bussiness</div>
                    </div>
                    <h5 class="font-semibold text-sm">Indonesian coffee exporter
                      eye potential in Middle East markets.</h5>
                    <p class="text-light text-xs">12 Sep 2025, 12.30</p>
                    <p class="text-light text-xs"><strong>Author :
                      </strong>Chronicle</p>
                  </div>
                </div>
              </a>
            {{/each}}
          </div>
        </section>
      </section>
    </div>
  </div>
</div>

<section id="catalogue" style="background-color: #e5dcd3" class="content-sm">
  <div class="p-4 flex flex-col items-center justify-center relative top-25">
    <h1
      class="p-hero font-bold text-center mt-4"
      style="font-size: 3.2rem; color: #2e2c2a; line-height: 110%"
    >
      COFFEE MENU
    </h1>
    <p
      class="text-center w-110 mt-4 font-light mb-2"
      style="font-size: 1rem; color: #2e2c2a"
    >
      From warm and smooth to cold and refreshing. There are endless drink
      option to find and love at Coffee House..
    </p>
    <div class="flex flex-wrap gap-2 justify-center px-5 mt-2">
      <button
        type="button"
        class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
      >
        Craft Drink
      </button>
      <button
        type="button"
        class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
      >
        Espresso Based
      </button>
      <button
        type="button"
        class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
      >
        Coconut Milk
      </button>
      <button
        type="button"
        class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
      >
        Cold Coffee
      </button>
      <button
        type="button"
        class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-5 py-2.5 me-2 mb-2 hover:border-stone-600"
      >
        Latte/Cappucino
      </button>
    </div>

    <section class="content-sm">
      <div class="flex flex-col gap-1 justify-center mt-5">
        {{#each this}}
          <div
            style="width: 21rem; height: 26rem;"
            class="bg-stone-100 mb-3 pb-3 rounded-lg shadow-md flex flex-col justify-start"
          >
            <img
              src="https://www.arabnews.com/sites/default/files/styles/n_670_395/public/2022/08/21/3401271-820752019.jpg?itok=e8c1hwwk"
              class="w-auto h-75 rounded-t-lg mb-4"
              alt="{{title}}"
              style="object-fit: cover"
            />
            <div class="flex flex-col gap-2 justify-start items-start px-3">
              <div class="flex justify-center items-center gap-1 mb-1">
                <div
                  class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-2.5 py-1 me-2 hover:border-stone-600"
                >Inspirational</div>
                <div
                  class="text-stone-900 bg-white/20 border border-stone-700 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 font-medium rounded-full text-xs px-2.5 py-1 me-2 hover:border-stone-600"
                >Bussiness</div>
              </div>
              <h5 class="font-semibold text-sm">Indonesian coffee exporter eye
                potential in Middle East markets.</h5>
              <p class="text-light text-xs">12 Sep 2025, 12.30</p>
              <p class="text-light text-xs"><strong>Author :
                </strong>Chronicle</p>
            </div>
          </div>
        {{/each}}
      </div>
    </section>
  </div>
</section>