{{! <section id="image-hero"  class="object-fit-cover">
  <img
    src="assets/coffee_mobile.png"
    alt="chronicles home coffee"
    style="width:100vw; height: 90vh; object-fit: cover"
  />
</section>

<section id="first-hero" class="p-4" style="background-color: #394034">
    <div class="flex flex-col justify-start my-4 items-center text-center">
    <div class="mb-2">
        <span class="p-2 me-2" style="color: white; border: 2px solid rgba(255, 255, 255, 0.634); border-radius: 8rem"><i class="fa-brands fa-instagram fa-xl"></i></span></a>
        <span class="p-2" style="color: white; border: 2px solid rgba(255, 255, 255, 0.634); border-radius: 8rem"><i class="fa-brands fa-facebook fa-xl"></i></span></a>
    </div>
    <div>
        <h1 class="p-hero text-white font-semibold text-center" style="font-size: 6rem"><span style="color: #D78325">COFFEE<br> HOUSES</span> IN <br> YOUR WAY</h1>
        <p class="text-white" style="font-size: 1.33rem;">Delicious handcrafted drinks and snacks made from the simplest, highest quality ingredients.</p>
    </div>
    <button type="button" class="btn btn-warning fs-4 text-white mt-2 ms-2 p-2" style="width : 40%; background-color: #D78325; border:color; border-color: #D78325;">Our new taste</button>
</section>
<section id="second-hero" class="p-4 flex flex-col items-center justify-center" style="background-color: #935831">
      <h1 class="p-hero text-white font-semibold text-center mt-4" style="font-size: 4.5rem">DELICIOUS COFFEE TO GO</h1>
        <p class="text-white text-center" style="font-size: 1rem;">For the price of one espresso, get two cappucinos. The beneficial deal is available through may 20.</p>
      <img alt="coffee bags" src="assets/coffee_bag.png" style="width: 80%; height: auto; object-fit: cover"/>
</section>

<section id="third-hero" class="p-4 flex flex-col items-center justify-center pt-0" style="background-color: #E5DCD3">
  <h1 class="p-hero font-semibold text-center mt-4" style="font-size: 5.5rem; color: #2E2C2A">COFFEE<br> HOUSE</h1>
    <p class="text-center font-semibold mt-4" style="font-size: 1.2rem; color: #2E2C2A">DELICIOUS HANDCRAFTED DRINKS AND SNACKS MADE FROM THE SIMPLEST, HIGHEST QUALITY INGREDIENTS COFFEE IS AT THE HEART OF WHAT WE DO, AND SO ARE ALL THE WAYS WE BRING YOU THE COFFEE HOUSE EXPERIENCE WHEREVER YOU ARE.</p>
    <p class="text-center" style="font-size: 1.1rem; color: #2E2C2A">Wheter it's a quick morning coffee from the nearest coffee shop or a quick midday snack, we have something for everyone. Here are some options to help you celebrate the little joys of each dat with us.</p>
    <button type="button" class="btn btn-warning fs-4 text-white mt-2 ms-2 p-2" style="width : 40%; background-color: #D78325; border:color; border-color: #D78325;">Our new taste</button>
</section> }}

<section id="catalogue" style="background-color: #E5DCD3" class="content-sm">
  <div class="p-4 flex flex-col items-center justify-center">
    <h1
      class="p-hero font-semibold text-center mt-4"
      style="font-size: 4rem; color: #2E2C2A"
    >COFFEE MENU</h1>
    <p
      class="text-center font-semibold mt-4 text-light"
      style="font-size: 1.33rem; color: #2E2C2A;"
    >From warm and smooth to cold and refreshing. There are endless drink option
      to find and love at Coffee House..</p>
    <div class="flex flex-wrap gap-2 justify-center px-5">
      <button
        type="button"
        class="btn btn-outline-secondary rounded-full font-semibold coffee-catalogue"
        style="border-radius: 2rem; border-color:#2E2C2A;"
      >Cold Coffee</button>
      <button
        type="button"
        class="btn btn-outline-secondary rounded-full font-semibold coffee-catalogue"
        style="border-radius: 2rem; border-color:#2E2C2A;"
      >Craft Drinks</button>
      <button
        type="button"
        class="btn btn-outline-secondary rounded-full font-semibold coffee-catalogue"
        style="border-radius: 2rem; border-color:#2E2C2A;"
      >With Coconut Milk</button>
      <button
        type="button"
        class="btn btn-outline-secondary rounded-full font-semibold coffee-catalogue"
        style="border-radius: 2rem; border-color:#2E2C2A;"
      >Espresso Based</button>
      <button
        type="button"
        class="btn btn-outline-secondary rounded-full font-semibold coffee-catalogue"
        style="border-radius: 2rem; border-color:#2E2C2A;"
      >Cappucino/Latte</button>
    </div>

    <div id="catalogue-content">
      <section class="content-sm">
        <div class="flex flex-col gap-1 justify-center mt-5">
          <div style="width: 21rem; height: 27rem">
            <img
              src="https://png.pngtree.com/png-clipart/20230927/original/pngtree-coffee-bag-3d-png-image_13147360.png"
              class="mb-2 rounded-lg object-fit-cover h-75 w-100"
              alt="officia porro iure quia iusto qui ipsa ut modi"
              style="border-radius: 0.5rem;"
            />
            <div class="p-2 flex justify-between items-center">
              <h5 class="card-title w-50">Bavarian Cappucinno</h5>
              <div class="flex flex-col justify-self-center align-self-center">
                <span
                  class="font-semibold"
                  style="color: #D78325; font-size:1.2rem"
                >$3.20<br /></span>
                <span style="font-weight: 400; font-size:0.8rem">500ml</span>
              </div>
            </div>
          </div>
          <div style="width: 21rem; height: 27rem">
            <img
              src="https://png.pngtree.com/png-clipart/20230927/original/pngtree-coffee-bag-3d-png-image_13147360.png"
              class="mb-2 rounded-lg object-fit-cover h-75 w-100"
              alt="repudiandae iusto deleniti rerum"
              style="border-radius: 0.5rem;"
            />
            <div class="p-2 flex justify-between items-center">
              <h5 class="card-title w-50">Bavarian Cappucinno</h5>
              <div class="flex flex-col justify-self-center align-self-center">
                <span
                  class="font-semibold"
                  style="color: #D78325; font-size:1.2rem"
                >$3.20<br /></span>
                <span style="font-weight: 400; font-size:0.8rem">500ml</span>
              </div>
            </div>
          </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a
                class="page-link"
                href="#"
                aria-label="Previous"
                id="prev-page"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a
                class="page-link"
                href="#"
                data-index="0"
              >1</a></li>
            <li class="page-item"><a
                class="page-link"
                href="#"
                data-index="1"
              >2</a></li>
            <li class="page-item"><a
                class="page-link"
                href="#"
                data-index="2"
              >3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next" id="next-page">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </section>

      <section class="content-lg">
        <div class="flex flex-col gap-1 justify-center mt-5">
          <div style="width: 21rem; height: 27rem">
            <img
              src="https://png.pngtree.com/png-clipart/20230927/original/pngtree-coffee-bag-3d-png-image_13147360.png"
              class="mb-2 rounded-lg object-fit-cover h-75 w-100"
              alt="officia porro iure quia iusto qui ipsa ut modi"
              style="border-radius: 0.5rem;"
            />
            <div class="p-2 flex justify-between items-center">
              <h5 class="card-title w-50">Bavarian Cappucinno</h5>
              <div class="flex flex-col justify-self-center align-self-center">
                <span
                  class="font-semibold"
                  style="color: #D78325; font-size:1.2rem"
                >$3.20<br /></span>
                <span style="font-weight: 400; font-size:0.8rem">500ml</span>
              </div>
            </div>
          </div>
          <div style="width: 21rem; height: 27rem">
            <img
              src="https://png.pngtree.com/png-clipart/20230927/original/pngtree-coffee-bag-3d-png-image_13147360.png"
              class="mb-2 rounded-lg object-fit-cover h-75 w-100"
              alt="repudiandae iusto deleniti rerum"
              style="border-radius: 0.5rem;"
            />
            <div class="p-2 flex justify-between items-center">
              <h5 class="card-title w-50">Bavarian Cappucinno</h5>
              <div class="flex flex-col justify-self-center align-self-center">
                <span
                  class="font-semibold"
                  style="color: #D78325; font-size:1.2rem"
                >$3.20<br /></span>
                <span style="font-weight: 400; font-size:0.8rem">500ml</span>
              </div>
            </div>
          </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a
                class="page-link"
                href="#"
                aria-label="Previous"
                id="prev-page"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a
                class="page-link"
                href="#"
                data-index="0"
              >1</a></li>
            <li class="page-item"><a
                class="page-link"
                href="#"
                data-index="1"
              >2</a></li>
            <li class="page-item"><a
                class="page-link"
                href="#"
                data-index="2"
              >3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next" id="next-page">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </div>
  </div>
</section>

<section
  id="catalogue"
  class="content-lg pt-5"
  style="background-color: #E5DCD3"
>
  <div class="container p-5 flex flex-col items-center justify-center">
    <div class="flex justify-between items-center">
      <div class="flex flex-col justify-center items-start gap-1">
        <h1
          class="p-hero font-semibold text-start mt-4"
          style="font-size: 4rem; color: #2E2C2A"
        >COFFEE MENU</h1>
        <p
          class="text-start font-semibold text-light"
          style="font-size: 1.33rem; color: #2E2C2A;"
        >From warm and smooth to cold and refreshing. There are endless drink
          option to find and love at Coffee House..</p>
      </div>
      <div class="flex flex-wrap gap-2 justify-center px-5 h-100">
        <button
          type="button"
          class="btn btn-outline-secondary font-semibold coffee-catalogue"
          style="border-radius: 2rem; border-color:#2E2C2A; max-height:3rem;"
        >Cold Coffee</button>
        <button
          type="button"
          class="btn btn-outline-secondary font-semibold coffee-catalogue"
          style="border-radius: 2rem; border-color:#2E2C2A; max-height:3rem;"
        >Craft Drinks</button>
        <button
          type="button"
          class="btn btn-outline-secondary font-semibold coffee-catalogue"
          style="border-radius: 2rem; border-color:#2E2C2A; max-height:3rem;"
        >With Coconut Milk</button>
        <button
          type="button"
          class="btn btn-outline-secondary font-semibold coffee-catalogue"
          style="border-radius: 2rem; border-color:#2E2C2A; max-height:3rem;"
        >Espresso Based</button>
        <button
          type="button"
          class="btn btn-outline-secondary font-semibold coffee-catalogue"
          style="border-radius: 2rem; border-color:#2E2C2A; max-height:3rem;"
        >Cappucino/Latte</button>
      </div>
    </div>
    <div id="blog-data">
      <section class="content-lg">
        <div class="flex flex-wrap gap-1 justify-center mt-5">
          <div style="width: 21rem; height: 27rem">
            <img
              src="https://png.pngtree.com/png-clipart/20230927/original/pngtree-coffee-bag-3d-png-image_13147360.png"
              class="mb-2 rounded-lg object-fit-cover h-75 w-100"
              alt="officia porro iure quia iusto qui ipsa ut modi"
              style="border-radius: 0.5rem;"
            />
            <div class="p-2 flex justify-between items-center">
              <h5 class="card-title w-50">Bavarian Cappucinno</h5>
              <div class="flex flex-col justify-self-center align-self-center">
                <span
                  class="font-semibold"
                  style="color: #D78325; font-size:1.2rem"
                >$3.20<br /></span>
                <span style="font-weight: 400; font-size:0.8rem">500ml</span>
              </div>
            </div>
          </div>
          <div style="width: 21rem; height: 27rem">
            <img
              src="https://png.pngtree.com/png-clipart/20230927/original/pngtree-coffee-bag-3d-png-image_13147360.png"
              class="mb-2 rounded-lg object-fit-cover h-75 w-100"
              alt="repudiandae iusto deleniti rerum"
              style="border-radius: 0.5rem;"
            />
            <div class="p-2 flex justify-between items-center">
              <h5 class="card-title w-50">Bavarian Cappucinno</h5>
              <div class="flex flex-col justify-self-center align-self-center">
                <span
                  class="font-semibold"
                  style="color: #D78325; font-size:1.2rem"
                >$3.20<br /></span>
                <span style="font-weight: 400; font-size:0.8rem">500ml</span>
              </div>
            </div>
          </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a
                class="page-link"
                href="#"
                aria-label="Previous"
                id="prev-page"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a
                class="page-link"
                href="#"
                data-index="0"
              >1</a></li>
            <li class="page-item"><a
                class="page-link"
                href="#"
                data-index="1"
              >2</a></li>
            <li class="page-item"><a
                class="page-link"
                href="#"
                data-index="2"
              >3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next" id="next-page">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </div>
  </div>
</section>