<section id="image-hero" class="object-fit-cover content-lg">
  <video
    autoplay
    muted
    loop
    id="myVideo"
    class="w-screen h-screen"
    style="object-fit: cover;"
  >
    <source src="assets/video_landing.mp4" type="video/mp4" />
  </video>

  <section
    id="first-hero"
    class="p-8 flex flex-col justify-center items-center absolute top-0 bg-stone-950/70 w-screen h-screen"
  >
    <div class="flex flex-col justify-center mt-12 mb-4">
      <div class="flex justify-start items-center gap-2 mb-2">
        <a href="#" aria-label="Instagram">
          <span
            class="p-2"
            style="color: white; border: 2px solid rgba(255, 255, 255, 0.634); border-radius: 8rem;"
          >
            <i class="fa-brands fa-instagram fa-xl"></i>
          </span>
        </a>
        <a href="#" aria-label="Facebook">
          <span
            class="p-2"
            style="color: white; border: 2px solid rgba(255, 255, 255, 0.634); border-radius: 8rem;"
          >
            <i class="fa-brands fa-facebook fa-xl"></i>
          </span>
        </a>
      </div>
      <div class="w-4xl">
        <h1
          class="text-white font-bold text-start p-0 mb-2 text-7xl"
          style="line-height:110%"
        >
          <span style="color: #f49323">COFFEE HOUSES <br /></span>
          IN YOUR WAY
        </h1>
        <p class="text-white font-light text-lg">
          Delicious handcrafted drinks and snacks made from the simplest,
          highest quality ingredients.
        </p>
      </div>
      <div class="w-50 mt-4">
        <button
          type="button"
          class="text-white flex items-center gap-2 bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-semibold rounded-lg text-md px-5 py-2.5 text-center me-2 mb-2"
        ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-cart-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
            />
          </svg>
          Order Now</button>
      </div>
    </div>
  </section>
  <section
    id="third-hero"
    class="p-4 flex flex-col items-center justify-center relative pt-0 mt-8 max-w-6xl mx-auto"
  >
    <a
      href="https://flowbite.com/"
      class="flex items-center space-x-3 rtl:space-x-reverse absolute -right-15 -top-3"
    >
      <img src="assets/logo_white.png" class="h-24" alt="Flowbite Logo" />
    </a>
    {{! <h1
      class="p-hero font-bold text-center mt-4"
      style="font-size: 3.8rem; color: #2E2C2A; line-height:110%"
    >COFFEE HOUSE</h1>
    <p
      class="text-center font-semibold mt-4"
      style="font-size: 1rem; color: #2E2C2A"
    >DELICIOUS HANDCRAFTED DRINKS AND SNACKS MADE FROM THE SIMPLEST, HIGHEST
      QUALITY INGREDIENTS COFFEE IS AT THE HEART OF WHAT WE DO, AND SO ARE ALL
      THE WAYS WE BRING YOU THE COFFEE HOUSE EXPERIENCE WHEREVER YOU ARE.</p>
    <p
      class="text-center font-light w-110 mt-4"
      style="font-size: 1.1rem; color: #2E2C2A"
    >Wheter it's a quick morning coffee from the nearest coffee shop or a quick
      midday snack, we have something for everyone. Here are some options to
      help you celebrate the little joys of each day with us.</p>
    <button
      type="button"
      class="text-white bg-orange-400 hover:bg-orange-500 focus:outline-none focus:ring-4 focus:ring-orange-300 font-medium rounded-full text-md px-5 py-2.5 text-center me-2 mb-2 dark:focus:ring-orange-900 mt-4"
    >Our New Taste</button> }}
  </section>
</section>

<section id="image-hero" class="object-fit-cover content-sm">
  <video
    autoplay
    muted
    loop
    id="myVideo"
    class="w-screen h-screen"
    style="object-fit: cover;"
  >
    <source src="assets/video_landing.mp4" type="video/mp4" />
  </video>

  <section
    id="first-hero"
    class="p-12 flex flex-col justify-center items-center absolute top-0 bg-stone-950/70 w-screen h-screen"
  >
    <div class="flex flex-col justify-center mt-12 mb-4">
      <div class="flex justify-start items-center gap-2 mb-2">
        <a href="#" aria-label="Instagram">
          <span
            class="p-2"
            style="color: white; border: 2px solid rgba(255, 255, 255, 0.634); border-radius: 8rem;"
          >
            <i class="fa-brands fa-instagram fa-xl"></i>
          </span>
        </a>
        <a href="#" aria-label="Facebook">
          <span
            class="p-2"
            style="color: white; border: 2px solid rgba(255, 255, 255, 0.634); border-radius: 8rem;"
          >
            <i class="fa-brands fa-facebook fa-xl"></i>
          </span>
        </a>
      </div>
      <div>
        <h1
          class="text-white font-bold text-start p-0 mb-2 text-6xl"
          style="line-height:110%"
        >
          <span style="color: #f49323">COFFEE <br /> HOUSES</span>
          IN YOUR WAY
        </h1>
        <p class="text-white font-light" style="font-size: 1rem;">
          Delicious handcrafted drinks and snacks made from the simplest,
          highest quality ingredients.
        </p>
      </div>
      <div class="w-50 mt-4">
        <button
          type="button"
          class="text-white flex items-center gap-2 bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-semibold rounded-lg text-md px-5 py-2.5 text-center me-2 mb-2"
        ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-cart-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
            />
          </svg>
          Order Now</button>
      </div>
    </div>
  </section>
  <section
    id="second-hero"
    class="p-4 flex flex-col h-screen items-center justify-center"
    style="background-color: #935831"
  >
    <h1
      class="p-hero text-white font-semibold text-center mt-8 mb-4"
      style="font-size: 3.5rem; line-height:110%"
    >DELICIOUS COFFEE TO GO</h1>
    <p
      class="text-white text-center w-100 font-light"
      style="font-size: 1.1;"
    >For the price of one espresso, get two cappucinos. The beneficial deal is
      available through may 20.</p>
    <img
      alt="coffee bags"
      src="assets/coffee_bag.png"
      style="width: 60%; height: auto; object-fit: cover"
    />
  </section>

  <section
    id="third-hero"
    class="p-4 flex flex-col items-center justify-center pt-0 mt-8"
    style="background-color: #E5DCD3"
  >
    <h1
      class="p-hero font-bold text-center mt-4"
      style="font-size: 3.8rem; color: #2E2C2A; line-height:110%"
    >COFFEE HOUSE</h1>
    <p
      class="text-center font-semibold mt-4"
      style="font-size: 1rem; color: #2E2C2A"
    >DELICIOUS HANDCRAFTED DRINKS AND SNACKS MADE FROM THE SIMPLEST, HIGHEST
      QUALITY INGREDIENTS COFFEE IS AT THE HEART OF WHAT WE DO, AND SO ARE ALL
      THE WAYS WE BRING YOU THE COFFEE HOUSE EXPERIENCE WHEREVER YOU ARE.</p>
    <p
      class="text-center font-light w-110 mt-4"
      style="font-size: 1.1rem; color: #2E2C2A"
    >Wheter it's a quick morning coffee from the nearest coffee shop or a quick
      midday snack, we have something for everyone. Here are some options to
      help you celebrate the little joys of each day with us.</p>
    <button
      type="button"
      class="text-white bg-orange-400 hover:bg-orange-500 focus:outline-none focus:ring-4 focus:ring-orange-300 font-medium rounded-full text-md px-5 py-2.5 text-center me-2 mb-2 dark:focus:ring-orange-900 mt-4"
    >Our New Taste</button>
  </section>
</section>