<section
  id="fourth-hero"
  class="content-sm h-screen"
  style="background-color: #E5DCD3;"
>
  <div class="flex flex-col items-center justify-between p-0">
    <div
      style="background-color: #935831; border-radius: 0px 0px 4rem 0px;"
      class="p-4 mb-4"
    >
      <h1
        class="p-hero text-white font-semibold text-center mt-8 mb-4"
        style="font-size: 2.5rem; line-height:110%"
      >DELICIOUS COFFEE TO GO</h1>
      <p class="text-white text-center text-sm">For the price of one espresso,
        get two cappucinos. The beneficial deal is available through May 20.</p>
    </div>
    <div
      style="position: relative; z-index: 2;"
      class="flex flex-col justify-center items-center h-100"
    >
      <img
        src="assets/coffee_bags.png"
        alt="chronicles coffee"
        class="object-cover"
        style="background-color: transparent; position: relative; left: 0px; top: 5.2rem; height: 100%;"
      />
      <div
        style="background-color: #935831; position: absolute; right: 50%; top: -1rem; z-index: -3; width: 100%; height: 100%;"
      >
      </div>
      <div
        style="background-color: #935831; border-radius: 0px 4rem 0px 0px;"
        class="pt-1 pb-12 w-screen mt-16 h-100 -z-2 flex flex-col justify-center items-center"
      >
        <h1
          class="p-hero text-white font-bold text-center mt-4"
          style="font-size: 1.66rem"
        >$12.00</h1>
        <button
          type="button"
          class="text-white bg-orange-400 hover:bg-orange-500 focus:outline-none focus:ring-4 focus:ring-orange-300 font-medium rounded-full text-md px-5 py-2.5 text-center me-2 mb-2 dark:focus:ring-orange-900 mt-2"
        >Our New Taste</button>
      </div>
    </div>
  </div>
</section>

<section id="fourth-hero" class="content-lg">
  <div
    class="flex flex-col items-center justify-center p-0 container z-2"
    style="max-height: 36rem;"
  >
    <div
      class="flex justify-center items-center gap-4"
      style="border-radius: 0px 0px 4rem 0px;"
      class="p-4"
    >
      <div style="position: relative; z-index: 2;" class="mb-5">
        <div
          class="flex flex-col absolute right-50 top-50 p-4 rounded-lg mt-2 z-3"
          style="background-color: #394034e5; width: 85%"
        >
          <div><i class="fa-solid fa-circle-info text-white"></i></div>
          <p class="text-white mt-3" style="font-size: 1.4rem">1/2 Espresso, 1/2
            Warm Milk and 1/2
            <br />
            Milk Froth. 180ml</p>
        </div>
        <img
          src="assets/coffee_bags.png"
          alt="chronicles coffee"
          class="img-home"
          style="background-color: transparent; position: relative; left: 0px; top: -2rem; height: 44rem;"
        />
      </div>
      <div style="max-width: 32rem" class="flex flex-col items-start">
        <h1
          class="p-hero text-white font-semibold text-start mt-4"
          style="font-size: 4rem;"
        ><span style="color: #D78325">COFFEE HOUSES</span>
          <span style="color:#000000">AT YOUR HOME</span></h1>
        <p class="text-dark text-start">For the price of one espresso, get two
          cappucinos. The beneficial deal is available through May 20.</p>
        <div
          style="max-width: 32rem"
          class="flex justify-center items-center gap-4"
        >
          <h1
            class="p-hero text-dark font-semibold text-center mt-4"
            style="font-size: 3rem"
          >$12.00</h1>
          <button
            type="button"
            class="btn btn-warning fs-4 text-white mt-2 ms-2 py-2"
            style="width: 70%; background-color: #D78325; border-color: #D78325;"
          >Buy Now</button>
        </div>
      </div>
    </div>

  </div>
</section>