<section id="fourth-hero" class="content-sm" style="background-color: #e5dcd3">
  <div class="flex flex-col items-center justify-between p-0">
    <div
      style="background-color: #935831; border-radius: 0px 0px 4rem 0px"
      class="p-4"
    >
      <h1
        class="p-hero text-white font-semibold text-center mt-8 mb-4"
        style="font-size: 2.5rem; line-height: 110%"
      >
        DELICIOUS COFFEE TO GO
      </h1>
      <p class="text-white text-center text-sm">
        For the price of one espresso, get two cappucinos. The beneficial deal
        is available through May 20.
      </p>
    </div>
    <div class="flex flex-col justify-center items-center z-2 pt-0">
      <div class="relative h-80">
        <img
          src="assets/coffee_bags.png"
          alt="chronicles coffee"
          class="object-cover relative -top-5"
          style="height: 24rem"
        />
      </div>
      <div
        style="
          background-color: #935831;
          position: absolute;
          right: 50%;
          z-index: -3;
          width: 50%;
          height: 28rem;
        "
        class="mb-8"
      ></div>
      <div
        style="background-color: #935831; border-radius: 0px 4rem 0px 0px"
        class="py-4 w-screen flex flex-col justify-center items-center"
      >
        <h1
          class="p-hero text-white font-bold text-center mt-4"
          style="font-size: 1.66rem"
        >
          $12.00
        </h1>
        <button
          type="button"
          class="text-white bg-orange-400 hover:bg-orange-500 focus:outline-none focus:ring-4 focus:ring-orange-300 font-medium rounded-full text-md px-5 py-2.5 text-center me-2 mb-2 dark:focus:ring-orange-900 mt-2"
        >
          Our New Taste
        </button>
      </div>
    </div>
  </div>
</section>

<section id="fourth-hero" class="content-lg">
  <div
    class="relative left-20 flex flex-col items-center justify-center p-0 container z-2"
    style="max-height: 36rem"
  >
    <div
      class="flex justify-center items-center gap-4"
      style="border-radius: 0px 0px 4rem 0px"
      class="p-4"
    >
      <div style="position: relative; z-index: 2" class="mb-5">
        <div
          class="flex flex-col absolute right-50 top-50 p-4 rounded-lg mt-2 z-3"
          style="background-color: #394034e5; width: 70%"
        >
          <div><i class="fa-solid fa-circle-info text-white"></i></div>
          <p class="text-white mt-3" style="font-size: 1rem">
            1/2 Espresso, 1/2 Warm Milk and 1/2
            <br />
            Milk Froth. 180ml
          </p>
        </div>
        <img
          src="assets/coffee_bags.png"
          alt="chronicles coffee"
          class="img-home"
          style="
            background-color: transparent;
            position: relative;
            left: 0px;
            top: 0rem;
            height: 38rem;
          "
        />
      </div>
      <div style="max-width: 32rem" class="flex flex-col items-start">
        <h1
          class="text-stone-800 font-bold text-start p-0 mb-2 text-7xl"
          style="line-height: 110%"
        >
          <span style="color: #f49323">COFFEE HOUSES</span>
          AT YOUR HOME
        </h1>
        <p class="text-dark text-start">
          For the price of one espresso, get two cappucinos. The beneficial deal
          is available through May 20.
        </p>
        <div
          style="max-width: 32rem"
          class="flex justify-center items-center gap-4"
        >
          <h1
            class="p-hero text-dark font-bold text-center"
            style="font-size: 2rem"
          >
            $12.00
          </h1>
          <button
            type="button"
            class="text-white bg-blue-400 hover:bg-blue-500 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-md px-5 py-2.5 text-center me-2 mb-2 dark:focus:ring-orange-900 mt-4"
          >
            Buy Now!
          </button>
        </div>
      </div>
    </div>
  </div>
</section>