<section
  id="catalogue"
  class="p-4 d-flex flex-column align-items-center justify-content-center"
  style="background-color: #E5DCD3"
>
  <h1
    class="p-hero fw-semibold text-center mt-4"
    style="font-size: 4rem; color: #2E2C2A"
  >COFFEE MENU</h1>
  <p
    class="text-center fw-semibold mt-4 reenie-beanie-regular"
    style="font-size: 1.33rem; color: #2E2C2A;"
  >From warm and smooth to cold and refreshing. There are endless drink option
    to find and love at Coffee House..</p>
  <div class="d-flex flex-wrap gap-2 justify-content-center px-5">
    <button
      type="button"
      class="btn btn-outline-secondary rounded-full fw-semibold coffee-catalogue"
      style="border-radius: 2rem; border-color:#2E2C2A;"
    >Cold Coffee</button>
    <button
      type="button"
      class="btn btn-outline-secondary rounded-full fw-semibold coffee-catalogue"
      style="border-radius: 2rem; border-color:#2E2C2A;"
    >Craft Drinks</button>
    <button
      type="button"
      class="btn btn-outline-secondary rounded-full fw-semibold coffee-catalogue"
      style="border-radius: 2rem; border-color:#2E2C2A;"
    >With Coconut Milk</button>
    <button
      type="button"
      class="btn btn-outline-secondary rounded-full fw-semibold coffee-catalogue"
      style="border-radius: 2rem; border-color:#2E2C2A;"
    >Espresso Based</button>
    <button
      type="button"
      class="btn btn-outline-secondary rounded-full fw-semibold coffee-catalogue"
      style="border-radius: 2rem; border-color:#2E2C2A;"
    >Cappucino/Latte</button>
  </div>

  <div id="content-catalogue">
  </div>
</section>