<section id="image-hero"  class="object-fit-cover">
  <img
    src="assets/coffee_mobile.png"
    alt="chronicles home coffee"
    style="width:100vw; height: 90vh; object-fit: cover"
  />
</section>

<section id="first-hero" class="p-4" style="background-color: #394034">
    <div class="d-flex flex-column justify-content-start my-4 align-items-center text-center">
    <div class="mb-2">
        <span class="p-2 me-2" style="color: white; border: 2px solid rgba(255, 255, 255, 0.634); border-radius: 8rem"><i class="fa-brands fa-instagram fa-xl"></i></span></a>
        <span class="p-2" style="color: white; border: 2px solid rgba(255, 255, 255, 0.634); border-radius: 8rem"><i class="fa-brands fa-facebook fa-xl"></i></span></a>
    </div>
    <div>
        <h1 class="p-hero text-light fw-semibold text-center" style="font-size: 6rem"><span style="color: #D78325">COFFEE<br> HOUSES</span> IN <br> YOUR WAY</h1>
        <p class="text-light" style="font-size: 1.33rem;">Delicious handcrafted drinks and snacks made from the simplest, highest quality ingredients.</p>
    </div>
    <button type="button" class="btn btn-warning fs-4 text-light mt-2 ms-2 p-2" style="width : 40%; background-color: #D78325; border:color; border-color: #D78325;">Our new taste</button>
</section>
<section id="second-hero" class="p-4 d-flex flex-column align-items-center justify-content-center" style="background-color: #935831">
      <h1 class="p-hero text-light fw-semibold text-center mt-4" style="font-size: 4.5rem">DELICIOUS COFFEE TO GO</h1>
        <p class="text-light text-center" style="font-size: 1rem;">For the price of one espresso, get two cappucinos. The beneficial deal is available through may 20.</p>
      <img alt="coffee bags" src="assets/coffee_bag.png" style="width: 80%; height: auto; object-fit: cover"/>
</section>

<section id="third-hero" class="p-4 d-flex flex-column align-items-center justify-content-center pt-0" style="background-color: #E5DCD3">
  <h1 class="p-hero fw-semibold text-center mt-4" style="font-size: 5.5rem; color: #2E2C2A">COFFEE<br> HOUSE</h1>
    <p class="text-center fw-semibold mt-4" style="font-size: 1.2rem; color: #2E2C2A">DELICIOUS HANDCRAFTED DRINKS AND SNACKS MADE FROM THE SIMPLEST, HIGHEST QUALITY INGREDIENTS COFFEE IS AT THE HEART OF WHAT WE DO, AND SO ARE ALL THE WAYS WE BRING YOU THE COFFEE HOUSE EXPERIENCE WHEREVER YOU ARE.</p>
    <p class="text-center" style="font-size: 1.1rem; color: #2E2C2A">Wheter it's a quick morning coffee from the nearest coffee shop or a quick midday snack, we have something for everyone. Here are some options to help you celebrate the little joys of each dat with us.</p>
    <button type="button" class="btn btn-warning fs-4 text-light mt-2 ms-2 p-2" style="width : 40%; background-color: #D78325; border:color; border-color: #D78325;">Our new taste</button>
</section>