<section
  id="fourth-hero"
  class="d-flex flex-column align-items-center justify-content-center p-0"
  style="background-color: #E5DCD3;"
>
  <div
    style="background-color: #935831; border-radius: 0px 0px 4rem 0px;"
    class="p-4"
  >
    <h1
      class="p-hero text-light fw-semibold text-center mt-4"
      style="font-size: 4rem"
    >COFFEE HOUSES AT YOUR HOME</h1>
    <p class="text-light text-center">For the price of one espresso, get two
      cappucinos. The beneficial deal is available through May 20.</p>
  </div>
  <div style="position: relative; z-index: 2;" class="mb-5">
    <img
      src="assets/coffee_bags.png"
      alt="chronicles coffee"
      class="img-home"
      style="background-color: transparent; position: relative; left: 0px; top: -2rem; height: 80%;"
    />
    <div
      style="background-color: #935831; position: absolute; left: 0; top: -0.3rem; z-index: -1; width: 50%; height: 29rem;"
    >
    </div>
    <div
      style="background-color: #935831; border-radius: 0px 4rem 0px 0px; z-index: -2; position: absolute; top: calc(100% - 4.3rem); left: 0; width: 100%;"
      class="pt-2 pb-5 d-flex flex-column justify-content-center align-items-center"
    >
      <h1
        class="p-hero text-light fw-semibold text-center mt-4"
        style="font-size: 3rem"
      >$12.00</h1>
      <button
        type="button"
        class="btn btn-warning fs-4 text-light mt-2 ms-2 py-2"
        style="width: 40%; background-color: #D78325; border-color: #D78325;"
      >Our new taste</button>
    </div>
  </div>
</section>